<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <a class="icon" href="https://gitlab.com/chiro-liedekerke/website">
                    <i class="fa fa-gitlab"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
