---
layout: default
title: "Afdelingen"
subtitle: "We kunnen ze niet allemaal bij elkaar proppen..."
---
{% assign afdelingen = site.afdelingen | sort: "weight" %}

{% include hero.html title = layout.title subtitle = layout.subtitle tabs = afdelingen %}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <h1 class="title">{{ page.title }}</h1>
                {{ content }}
            </div>
            <div class="column is-8">
                <div class="columns is-multiline">
                    {% for leider in site.data.leiding[page.name] %}
                    <div class="column is-4">
                        {% include person.html name = leider.naam telephone = leider.telefoon email = leider.email facebook = leider.facebook %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
