<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }} - {{ page.title }}</title>

    <base href="{{ site.url }}{{ site.baseurl }}/">

    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bulma.css">
</head>
<body>
    {% include navbar.html title = site.title items = site.data.navbar.items %}

    {{ content }}

    {% include footer.html %}

    <script src="js/navbar.js"></script>
</body>
</html>
